_ReSharper.*
*.cache
*.user
*.suo
build/
bin/
obj/

*.sonar*
*.ReSharper
/TwitterCollector.1.1.dotCover
/Machine.Specifications.pdb/65F707A2FB0D439C81EE05AF7997F8551/Machine.Specifications.pdb
/NLog.pdb/50DAD6ABE5DF41F5BA9C94A84EC28EB71/NLog.pdb
/pingme.txt
/CommandCenter.Searcher.1.2.dotCover
/Source/Searcher.Tests/Searcher.Tests.ncrunchproject
/CommandCenter.Searcher.ncrunchsolution