_Resharper*
/SqlNotifications.suo
Source/*/bin/*
Source/*/obj/*
Build/*
.Sonar/*

/SqlNotifications.6.0.ReSharper.user
/SqlNotifications.sln.docstates.suo
/SqlNotifications.6.0.ReSharper.user
/SqlNotifications.sln.docstates.suo
/SqlNotifications.6.1.ReSharper.user
/SqlNotifications.sln.DotSettings.user